.card{
  border:1px solid #b38585;
  border-radius: 10px;
  /* box-shadow: 5px 5px 5px hsla(hue, saturation, lightness, alpha) */
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card-img{
  width: 70%;
  height:90px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #b38585;
  margin: 0;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #b38585;
  margin: 0;
} 

.student{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #745454;
  margin: 0;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.student p{
  margin: 0;

}

.welcome-message{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #745454;
  margin: 0;
  border-radius: 20px;
  padding:10px;
  background-color: rgb(204, 204, 147);
}

.login-prompt{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #814c4c;
  margin: 0;
  border-radius: 20px;
  padding:10px;
  background-color: rgb(223, 223, 193);
}

.list-category{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #8a8484;
  margin: 0;
  border-radius: 20px;
  padding:10px;
  background-color: rgb(226, 226, 219);
  margin: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.list-items{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: hsl(200, 50%, 50%);
  border-radius: 20px;
  padding:20px;
  background-color: rgb(230, 230, 184);
  margin: 20px;
  font-weight: bold;
  text-align: justify;
}


.counter-container{
  background-color: aqua;
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
}

.count-display{
  background-color: rgb(221, 86, 181);
  font-size: 15rem;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
}

.counter-button{
  background-color: rgb(179, 117, 160);
  font-size: 34px;
  font-weight: bolder;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  border: 2px solid black;
  cursor: pointer;
}

.counter-button:hover{
  background-color: rgb(32, 30, 32);
  color: azure;
  
}

body{
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.color-Picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 4px solid black;
  margin: 20px;
  padding: 20px;
}

h1{
  font-size: 2em;
  color: #948989;
  margin: 0;
}
.color-display{
  width: 300px;
  height: 300px;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  display: flex;
  border: #767477 2px solid;
  transition: 0.25s ease;
}
.color-display p{
  font-size: 2em;
  color: #5d5a5f;
  margin: auto;
}
label{
  font-size: 1.5em;
  color: #5d5a5f;
  margin: 5px;
}

input[type="color"]{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 5px;
  border: #a5a1a8 2px solid;
  padding: 5px;
  box-shadow: #767477;
}

